
<h1 class="danhmuc-h1">Homestay</h1>


{{!-- 3 nút lọc --}}

<!-- Bộ lọc -->
<div class="boloc">
    <!-- Chọn địa điểm -->
    <select class="locdiadiem">
        <option  value="">--- Chọn địa điểm ---</option>
        {{#each tinhList}}
        <option  value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <!-- Nút lọc -->
    <button class="btn-loc"> <img src="/img/filter.png" alt=""> Lọc</button>
</div>
{{!-- 3 nút lọc --}}


{{!-- slider --}}
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
  <div class="carousel-inner">
    {{#each doanhNghiepHot}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
      <div class="d-flex align-items-center slider-item">
        <!-- Ảnh -->
        <div class="slider-img col-md-5">
          <img src="{{this.image}}" alt="{{this.tenDoanhNghiep}}" class="d-block w-100 rounded">
        </div>
       
   
<div class="slider-content col-md-7">
          <h5 class="title">{{this.tenDoanhNghiep}}</h5>
          <p class="desc">{{this.moTa}}</p>
        <a href="/doanhnghiep/nguoidung/{{this.slug}}"> <button  class="btn-custom">Xem Ngay</button></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Nút điều hướng -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Trước</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Sau</span>
  </a>
</div>

{{!-- slider --}}

{{!-- content-homestay --}}


<section class="hot-danang mt-5">
  <div class="d-flex gap-3 flex-wrap">
    {{#each doanhNghiep}}
      <div class="card border-0 rounded-4 overflow-hidden doanhnghiep-item" data-tinh="{{this.tinh}}">
       <a href="/doanhnghiep/nguoidung/{{this.slug}}">  <img src="{{this.image}}" class="card-img-top" alt="{{this.tenDoanhNghiep}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{this.tenDoanhNghiep}}</h5>
          <p class="card-text">{{this.diaChi}}</p>
          <p class="text-danger">Giảm tới {{this.sale}}%</p>
          <a href="/doanhnghiep/nguoidung/{{this.slug}}" class="btn btn-outline-dark">Đặt chỗ</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>




{{!-- content-homestay --}}

<script>
document.querySelector('.btn-loc').addEventListener('click', function () {
    const tinh = document.querySelector('.locdiadiem').value.trim();

    document.querySelectorAll('.doanhnghiep-item').forEach(item => {
        const itemTinh = item.getAttribute('data-tinh');
        
        if (!tinh || itemTinh === tinh) {
            item.style.display = 'block'; // hiện
        } else {
            item.style.display = 'none'; // ẩn
        }
    });
});
</script>