
    
    <h1 class="danhmuc-h1">Home</h1>
  
  
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
  <div class="carousel-inner">
    {{#each doanhNghiepHot}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
      <div class="d-flex align-items-center slider-item">
        <!-- Ảnh -->
        <div class="slider-img col-md-5">
          <img src="{{this.image}}" alt="{{this.tenDoanhNghiep}}" class="d-block w-100 rounded">
        </div>
       
   
<div class="slider-content col-md-7">
          <h5 class="title">{{this.tenDoanhNghiep}}</h5>
          <p class="desc">{{this.moTa}}</p>
        <a href="/doanhnghiep/nguoidung/{{this.slug}}?username={{user.tenDangNhap}}"> <button  class="btn-custom">Xem Ngay</button></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Nút điều hướng -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Trước</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Sau</span>
  </a>
</div>



{{!-- hot tại đà nẵng --}}
<section class="hot-danang mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Đang hot tại Đà Nẵng</h3>

  </div>
  <p>Dưới đây là một số chỗ được nhiều người tin tưởng, đánh giá tốt và được đặt chỗ nhiều nhất tại Đà Nẵng</p>

  <div class="d-flex gap-3 flex-wrap">
    {{#each doanhNghiepDN}}
      <div class="card border-0 rounded-4 overflow-hidden" >
      <a href="/doanhnghiep/nguoidung/{{this.slug}}?username={{user.tenDangNhap}}">  <img src="{{this.image}}" class="card-img-top" alt="{{this.tenDoanhNghiep}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{this.tenDoanhNghiep}}</h5>
          <p class="card-text">{{this.diaChi}}</p>
          <p class="text-danger">Giảm tới {{this.sale}}%</p>
          <a href="/doanhnghiep/nguoidung/{{this.slug}}?username={{user.tenDangNhap}}" class="btn btn-outline-dark">Đặt chỗ</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>

{{!-- hot tại TP.Hồ Chí Minh --}}
<section class="hot-danang mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Đang hot tại TP. Hồ CHí Minh</h3>
 
  </div>
  <p>Dưới đây là một số chỗ được nhiều người tin tưởng, đánh giá tốt và được đặt chỗ nhiều nhất tại TP. Hồ Chí Minh</p>

  <div class="d-flex gap-3 flex-wrap">
    {{#each doanhNghiepHCM}}
      <div class="card border-0 rounded-4 overflow-hidden" >
       <a href="/doanhnghiep/nguoidung/{{this.slug}}?username={{user.tenDangNhap}}"> <img src="{{this.image}}" class="card-img-top" alt="{{this.tenDoanhNghiep}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{this.tenDoanhNghiep}}</h5>
          <p class="card-text">{{this.diaChi}}</p>
          <p class="text-danger">Giảm tới {{this.sale}}%</p>
          <a href="/doanhnghiep/nguoidung/{{this.slug}}?username={{user.tenDangNhap}}" class="btn btn-outline-dark">Đặt chỗ</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>


{{!-- hot tại Hà Nội --}}
<section class="hot-danang mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Đang hot tại Hà Nội</h3>

  </div>
  <p>Dưới đây là một số chỗ được nhiều người tin tưởng, đánh giá tốt và được đặt chỗ nhiều nhất tại Hà Nội</p>

  <div class="d-flex gap-3 flex-wrap">
    {{#each doanhNghiepHN}}
      <div class="card border-0 rounded-4 overflow-hidden" >
      <a href="/doanhnghiep/nguoidung/{{this.slug}}?username={{user.tenDangNhap}}">  <img src="{{this.image}}" class="card-img-top" alt="{{this.tenDoanhNghiep}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{this.tenDoanhNghiep}}</h5>
          <p class="card-text">{{this.diaChi}}</p>
          <p class="text-danger">Giảm tới {{this.sale}}%</p>
          <a href="/doanhnghiep/nguoidung/{{this.slug}}?username={{user.tenDangNhap}}" class="btn btn-outline-dark">Đặt chỗ</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>

